:root {
  --col-primary: #BE1526;   /* kräftiges Rot */
  --col-secondary: #33506A; /* Blau */
  --col-dark: #273C48;      /* dunkles Blau */
  --col-light: #FFFCF9;     /* Off-White */
  --col-light-darker: #E9E4E0;
  --col-accent: #FAD6A5;    /* Beige */
  --col-correct: #00d492;
  --col-wrong: #ff637e;

  --font-col-dark: #1B292B;      /* text schwarz */

  --border-radius-main: 8px;

  /* abgeleitete Variablen */
  --bg-overlay: rgba(255, 252, 249, 0.9); /* Off-White mit Transparenz */

  --text-main: var(--col-dark);
  --text-light: var(--col-light);
  
  --font-main: var(--font-manrope);        /* Manrope */
  --font-second: var(--font-newsreader);   /* Newsreader */
}
